@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Ubuntu:wght@300;500&display=swap');

html, body {
  margin: 0 auto;
  height: auto;
  font-family: 'Ubuntu', sans-serif;;
  font-size: 16px;
  color: var(--text);
}

body {
  display: grid; 
    width: calc(100vw);
    height: calc(100vh);
  grid-template-areas: 
    "page";   
} 

.page {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.15fr 2.75fr 0.1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "section--header"
    "section--center"
    "section--footer"; 
  grid-area: page; 
} 

.section--center {
  display: grid; 
  grid-template-columns: 0.6fr 1.8fr 0.6fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "side--left side--center side--right"; 
  grid-area: section--center; 
}

.section--header { grid-area: section--header; }
   .side--left   { grid-area: side--left;      }
   .side--center { grid-area: side--center;    }
   .side--right  { grid-area: side--right;     }
.section--footer { grid-area: section--footer; }


/* Arrows */

button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

svg {
  padding: 5px;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  margin-left: -35px;
  width: 70px;
  height: 90px;
}

.left {
  left: 42%;
}

.right {
  left: 58%;
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}