@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Ubuntu:wght@300;500&display=swap');

  :root {
    --header:  #193042; 
    --text:    #fff;
    --hover:   yellow;
    --active:  rgb(143, 143, 37); 
    --border:  grey;
    --shadow:  rgba(0,0,0,0.5);
    --aside:   rgba(26, 47, 66, 0.5);
    --aside2:  rgba(0, 0, 0, 0.5);
    --bg_img_mono: url(../img/bg_mono.jpg);
    --logo: url(../img/logo.png);
  }